.hide {
    display: none;
}

.show {
    display: block;
}

.fade {
    animation-name: fadeIn;
    animation-duration: 2s;
}

@keyframes fadeIn {
    from {
      opacity: 10%;
    }
  
    to {
      opacity: 100%;
    }
  }

