.hide {
    display: none;
}

.show {
    display: block;
}

.fade {
    animation-name: fadeIn;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


